<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>POLL | {% block title %} {% endblock title %}</title>
  </head>
  <body>
                                  <!-- header section  -->
    <nav class="navbar navbar-expand-lg navbar-light bg-secondary">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ml-auto">

            {% if user.is_authenticated %}
            <li class="nav-item active text-light">
              <a class="nav-link" href="{% url 'index' %}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'profile' %}"><i class="bi bi-box-arrow-right"></i>  Profile </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'logout' %}"><i class="bi bi-box-arrow-right"></i>  Logout </a>
            </li>

            {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'login' %}"><i class="bi bi-book-fill"></i> login  </a>
            </li>
            {% endif %}
            
          </ul>
        </div> 
    </nav>   
      
    {% if messages %}
    {% for item in messages %}
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>{{item}}!</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    {% endfor %}
  {% endif %} 
  
  
    {% block content %}
      
    {% endblock content %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.0.0-alpha.1/axios.min.js"></script>

<script>
const pollbtn = document.querySelector('.pollbtn');
const pollhere = document.querySelector('.pollhere');
const form = document.querySelector('.form');

pollbtn.addEventListener('click', ()=>{
  axios.get('/pollview/')
  .then((resp)=>{
    pollhere.innerHTML = resp.data
  })
  .catch((err)=>{
    console.log(err)
  })
})

form.addEventListener('submit', (e)=>{
  e.preventDefault()
  const newform = new FormData()
  newform.append('content', document.querySelector('.content').value)
  newform.append('option1', document.querySelector('.option1').value)
  newform.append('option2', document.querySelector('.option2').value)
  newform.append('option3', document.querySelector('.option3').value)
  newform.append('option4', document.querySelector('.option4').value)
  newform.append('csrfmiddlewaretoken', '{{csrf_token}}')
  axios.post('/pollform/', newform)
  .then((resp)=>{
    if(resp.data.status ==='success'){
      pollbtn.click()
      form.reset()
    }
  })
  .catch((err)=>{
    console.log(err)
  })
})
</script>

  </body>
</html>