{% extends 'base.html' %}


{% block title %}
Blogs
{% endblock title %}


{% block content %}
<div class=" category bg-dark">
    <h1 class="text-center text-white mb-5">Blogs</h1>
    <div class="container bg-secondary ml-10"> 
        <div class="row mx-auto">
        {% if blogs%}
            {% for item  in blogs %}
                <div class=" container card col-12 col-sm-12 col-md-6 col-lg-4 mt-5 mb-1 p-2 bg-warning">
                    <div class="card bg-secondary">
                        <div class="card-body">
                            <i><h3 class="card-title">{{item.title}}</h3></i>
                            <p class="card-text">#{{item.blog}}</p>
                        </div>   
                    </div>
                </div>
            {% endfor %}
        {% endif %}    
        </div> 
    </div>
</div>    
{% endblock content %}