{% extends 'base.html' %}
{% load static %}

{% block title %}
   Profile
{% endblock title %}

{% block content %}
<head>
  <title>W3.CSS Template</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
  html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
  </style>
</head>

       <!-- {% comment %} inner navigation {% endcomment %} -->
  <div class="card-header" height="50" >
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link " href="{% url 'index' %}">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="">Profile</a>
      </li>

    </ul>
  </div>

{% comment %} ABOUT {% endcomment %}
<div class="card mt-3 bg-secondary grid-item">
  <div class="card-header text-center"><i>PROFILE</i></div>
    <div class="card-body">





      <body class="w3-light-grey">
      
      <!-- Page Container -->
      <div class="w3-content w3-margin-top" style="max-width:1400px;">
      
        <!-- The Grid -->
        <div class="w3-row-padding">
        
          <!-- Left Column -->
          <div class="w3-third">
          
            <div class="w3-white w3-text-grey w3-card-4">
              <h2 class="text-info">{{user|title}} </h2>

              <div class="w3-display-container m-3">
                <img src="https://www.w3schools.com/w3images/avatar_hat.jpg" style="width:100%" alt="Avatar">
                <div class="w3-display-bottomleft w3-container w3-text-black">
                </div>
                <form action="#">     
                  <div class="card bg-success p-2" style="width:28rem;">
                    <a class="btn btn-info">UPLOAD</a>               
                    <input type="file" id="img" name="img" accept="image/*">                
                  </div>
                </form> 
              </div>
              <div class="w3-container ">
                <div class="container mx-auto bg-secondary text-light">
                  <b> <p><i class="fa fa-home fa-fw w3-margin-right w3-large"></i>Name: {{user.first_name|title}} {{user.last_name|title}}</p>
                   <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large "></i>Email : {{user.email}} </p>
                   <p><i class="fa fa-phone fa-fw w3-margin-right w3-large "></i>Phone number : {{user.phone}}</p>
                  </b>
                </div>
                <hr>
      
                <p class="w3-large"><b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i>Works</b></p>
                <p>Polls</p>
                <div class="w3-light-grey w3-round-xlarge w3-small">
                  <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:90%">90%</div>
                </div>
                <p>Answers</p>
                <div class="w3-light-grey w3-round-xlarge w3-small">
                  <div class="w3-container w3-center w3-round-xlarge w3-teal mb-2" style="width:80%">
                    <div class="w3-center w3-text-white">80%</div>
                  </div>
                </div>


              </div>
            </div><br>
      
          <!-- End Left Column -->
          </div>
      
          <!-- Right Column -->
          <div class="w3-twothird">

            {% if polls %}
            <h2 class="w3-text-grey w3-padding-16 bg-light"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>My Polls</h2>

            {% for item  in polls %}
            <div class="w3-container w3-card w3-white w3-margin-bottom">
              <div class="w3-container">
                <h5 class="w3-opacity"><b>Question</b></h5>
                <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>July 2022</span></h6>
                <p>{{item.question}}</p>
                <hr>
              </div>
            </div>      
            {% endfor %}
            {% endif %}         

     
          <!-- End Right Column -->
          </div>
          
        <!-- End Grid -->
        </div>
        
        <!-- End Page Container -->
      </div>
      

      

      
      {% comment %} {% if polls %}
      {% for item  in polls %}
      <div class="card m-3 col-3 col-sm-3 col-md-3 col-lg-4" style="width: 18rem;">
        <div class="card-header">
          Poll created by :{{item.user}}
         <b><p class="mb-0">Question : {{item.question}}</p></b> 
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">{{item.answer1}} </li>
          <li class="list-group-item">{{item.answer2}}</li>
          <li class="list-group-item">{{item.answer3}}</li>
          <li class="list-group-item">{{item.answer4}}</li>
        </ul>
      </div>
      {% endfor %}
      {% endif %} 

       {% endcomment %}




    </div>  
</div>
{% endblock content %}